h1{;
    text-decoration:underline ;
    font-family:cursive;
    font-weight:bold;
    font-size:italic;
    text-align: center;
    border-radius=5px;
    text-transform:capitalize;
}
form{
    text-align: center;
    border-radius: 10px;
}
body{
    background-color: pink;
    padding:10px 5px
}
textarea{
border-color: aqua;
}